<% layout('./layout/boilerplate') %>

<h2 class="fs-4 text-success mb-4"> LOG IN </h2>

<form action="/login" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" name="username" required>
        <div class="valid-feedback">Looks good</div>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <div class="valid-feedback">Looks good</div>
    </div>

    <button id="login">LOG IN</button>

<div id="registerdiv">
    <div class="opacity-50 m-2">Don't have an account?</div>
  <a href="/register" id="register" class="custom-btn">CREATE AN ACCOUNT</a>
</div>

</form>